body {
  background-color: hsl(240, 78%, 98%);
  font: 15px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0
}

h1 {
  font-size: 2rem;
  color: hsl(232, 13%, 33%);
  text-align: center;
}

h2 {
  display: inline-block;
  position: relative;
  top: 40px;
  font-size: 0.8rem;
  padding-bottom: 3%;
  color: hsl(234, 14%, 74%);
}

h3 {
  font-size: 3rem;
  text-align: center;
}

p {
  font-size: 0.8rem;
  border-top: 0.8px solid;
  padding-top: 5%;
  border-color: hsl(234, 14%, 74%);
}

#hero {
  text-align: center;
  background: url(../images/bg-top.svg) no-repeat right top;
}

.switch {
  margin: 0 2%;
}

.container-price {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  background: url(../images/bg-bottom.svg) no-repeat left bottom;
}

.yearly-price {
  display:none;
}

.show {
  display:none;
}

.label {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"] {
  position: relative;
  top: 50px;
  width: 50px;
  height: 25px;
  -webkit-appearance: none;
  background: hsl(237, 63%, 64%);
  border-radius: 20px;
  outline: none;
  transition: .5s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
  cursor: pointer;
}

input:checked[type="checkbox"] {
  background: hsl(236, 72%, 79%);
}

input[type="checkBox"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 50px;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rbga(0, 0, 0, .2);
  transition: .5s ease-in-out;
}

input:checked[type="checkbox"]::before {
  transform: translateX(25px);
}

.flex-item-header {
  font-size: 1.2rem;
  color: hsl(233, 13%, 49%);
}

.flex-item-header-center {
  color: hsl(240, 78%, 98%);
}

.basic-subscription {
  position: relative;
  background-color: white;
  padding: 3% 5%;
  border-radius: 4% 0;
  color: hsl(232, 13%, 33%);
  width: 200px;
}

.professional-subscription {
  position: relative;
  background-color: hsl(237, 63%, 64%);
  padding: 4% 5%;
  border-radius: 4%;
  color: hsl(240, 78%, 98%);
  width: 200px;
}

.master-subscription {
  position: relative;
  background-color: white;
  padding: 3% 5%;
  border-radius: 0 4%;
  color: hsl(232, 13%, 33%);
  width: 200px;
}

.flex-item-last-paragraph {
  border-bottom: 0.8px solid;
  border-color: hsl(234, 14%, 74%);
  padding-bottom: 5%;
}

.btn {
  display: block;
  width: 100%;
  padding: 5% 20%;
  background-color: hsl(237, 63%, 64%);
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 15%;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: hsl(237, 63%, 64%);
  border-style: solid;
  border-width: thin;
}

.btn-center {
  background-color: white;
  color: hsl(237, 63%, 64%);
}

.btn-center:hover {
  background-color: hsl(237, 63%, 64%);
  color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width:1200px) {
  .container-price {
    display: flex;
    flex-direction: column;
  }

  .basic-subscription {
    margin-top: 30px;
    text-align: center;
    border-radius: 4%;
  }

  .professional-subscription {
    margin-top: 20px;
    text-align: center;
    border-radius: 4%;
  }

  .master-subscription {
    margin-top: 20px;
    text-align: center;
    border-radius: 4%;
  }
}
